@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #2a2a72;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.user-form {
  width: 100%;
}

.user-form input {
  width: 92%;
  display: inline;
  background-color: #4c2885;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin:5px;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

.user-form button{
    width: 4%;
    display: inline;
    background-color: #e632c8;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 1rem 0 1rem 0;
    margin:1px;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(108, 17, 255, 0.801),
      0 2px 2px rgba(0, 0, 0, 0.1);
}

.user-form .git-info input {
    display: inline;
    width: 48%;
    background-color: #4c2885;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgba(154, 160, 185, 0.05),
      0 3px 10px rgba(0, 0, 0, 0.1);
  }

.rob-style {
  width: 95%;
  height: 70%;
  background-color: #4c2885;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(154, 160, 185, 0.05),
    0 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 1rem;
  margin: 0 1.5rem;
}
.rob-style iframe{
    width: 100%;
    height: 90%;
}